[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-swagger = "*"
sqlalchemy = "*"
authlib = "*"
requests = "*"
flask-sqlalchemy = "*"
flask = "*"
flask-bcrypt = "*"
flask-cors = "*"
psycopg2 = "*"
psycopg2-binary = "*"
flask-jwt-extended = "*"
google-auth = "*"
flask-migrate = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
